name: CI

on:
  push:
    branches: [master]
  pull_request: ~

env:
  FORCE_COLOR: 1

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install pip dependencies
      run: pip install -r requirements.test.txt
    - name: pre-commit
      run: pre-commit run --all-files --show-diff-on-failure
  test:
    strategy:
      matrix:
        python-version: [3.9, 3.8, 3.7]
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pip dependencies
      run: pip install -r requirements.test.txt
    - name: Test
      run: pytest
